service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class main
    user root
    oneshot

# Audio
on property:ro.vendor.xiaomi.device=land
    mount none /vendor/etc/land_mixer_paths_qrd_sku1.xml /vendor/etc/mixer_paths_qrd_sku1.xml bind
    mount none /vendor/etc/land_acdbdata /vendor/etc/acdbdata bind
    restart vendor.audio-hal

on property:ro.vendor.xiaomi.device=santoni
    mount none /vendor/etc/santoni_mixer_paths_qrd_sku1.xml /vendor/etc/mixer_paths_qrd_sku1.xml bind
    restart vendor.audio-hal

# Camera
service land_qcamerasvr /system/vendor/bin/land_mm-qcamera-daemon
    disabled
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

on property:ro.vendor.xiaomi.device=land
    setprop ro.hardware.camera land
    stop qcamerasvr
    enable land_qcamerasvr
    restart vendor.camera-provider-2-4

on property:ro.vendor.xiaomi.device=santoni
    setprop ro.hardware.camera santoni
    restart vendor.camera-provider-2-4

# Fingerprint
service vendor.land_gx_fpd /vendor/bin/land_gx_fpd
    class main
    user system
    group system
    disabled

on property:ro.vendor.fingerprint.supported=0 && property:ro.vendor.xiaomi.device=*
    stop vendor.${ro.vendor.xiaomi.device}_gx_fpd

on property:ro.vendor.fingerprint.supported=2 && property:ro.vendor.xiaomi.device=*
    setprop ro.hardware.gxfingerprint ${ro.vendor.xiaomi.device}
    setprop persist.sys.fp.vendor none
    setprop persist.sys.fp.onstart 0
    setprop ro.vendor.fingerprint.ready 2
    enable vendor.${ro.vendor.xiaomi.device}_gx_fpd

on property:persist.sys.fp.vendor=switchf && property:ro.vendor.fingerprint.ready=2 && property:ro.vendor.xiaomi.device=*
    stop vendor.${ro.vendor.xiaomi.device}_gx_fpd
    setprop ro.hardware.fingerprint ${ro.vendor.xiaomi.device}_fpc
    enable vendor.fps_hal

on property:persist.sys.fp.vendor=goodix && property:persist.sys.fp.onstart=1 && property:ro.vendor.fingerprint.ready=2 && property:ro.vendor.xiaomi.device=*
    setprop ro.hardware.fingerprint ${ro.vendor.xiaomi.device}_goodix
    enable vendor.fps_hal

on property:ro.vendor.fingerprint.failed=1 && property:ro.vendor.xiaomi.device=*
    stop vendor.${ro.vendor.xiaomi.device}_gx_fpd
