service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class main
    user root
    oneshot

# Audio
on property:ro.vendor.xiaomi.device=land
    mount none /vendor/etc/land_mixer_paths_qrd_sku1.xml /vendor/etc/mixer_paths_qrd_sku1.xml bind
    restart vendor.audio-hal

on property:ro.vendor.xiaomi.device=santoni
    mount none /vendor/etc/santoni_mixer_paths_qrd_sku1.xml /vendor/etc/mixer_paths_qrd_sku1.xml bind
    restart vendor.audio-hal
